
---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my full publication list on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Selected Papers</h2>

<!-- Preprint Section -->
<h3>Preprints</h3>
<hr />
{% for post in site.publications reversed %}
  {% if post.status == "preprint" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<!-- Published Section -->
<h3>Published</h3>
<hr />
{% for post in site.publications reversed %}
  {% if post.status == "published" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


